<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <title>Вы не авторизированы!</title>
</head>
<body>
<div class="container">
    <div class="green-text number-page">
        401
    </div>
    <div class="green-text">
        <p>Вы не авторизированы, в случае если это произошло случайно,</p>
        <p>возможно ваша робочая сессия была завершена, пожалуйста перейдите по ссылки ниже</p>
        <p>и авторизуйтесь вновь.</p>
        <p><a href="/authentication"> Нажмите сюда чтобы перейти на страницу авторизации.</a></p>
        <br>
        <p>По всем остальныем вопросам, обращайтесь к администратору сайта!</p>
    </div>
</div>
</body>
</html>