<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <title>Доступ запрещен</title>
</head>
<body>
<div class="container">
    <div class="green-text number-page">
        500
    </div>
    <div class="green-text">
        <p>Произошла ошибка на сервере! </p>
        <p>Вы тут ничего не сделайте, будем благодарные, если вы скините</p>
        <p>отчет, как вам удалось получить эту ошибку, или опишите её в форме ниже</p>
        <p>это поможет нашим программистам, разобраться с проблемой!</p>
        <p>Спасибо. Хорошего вам дня</p>
        <div sec:authorize="isAnonymous()">
            <p><a href="/authentication"> Нажмите сюда чтобы перейти на страницу авторизации.</a></p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <p><a href="/management"> Нажмите сюда чтобы продолжить работу с приложением.</a></p>
            <p>Продолжайте работу в нормальном режиме</p>
        </div>
        <br>
        <p>По всем остальныем вопросам, обращайтесь к администратору сайта!</p>
    </div>
</div>
</body>
</html>